# update the variable pm.status_path in your pool  ( usually found at */php-fpm.d/www.conf )
# so is it's value is /server-status-fpm

# Add the entry bellow to a virtual host in the apache web server, so you can check the php-fpm server status page
<Location /server-status-fpm>
        ProxyPass fcgi://127.0.0.1:9000
        Order deny,allow
        Deny from all
        Allow from localhost 127.0.0.1
</Location>
